header{
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;
width: 90%;
max-width: 50rem;
margin: 0 auto 2rem auto;
text-align: center;
background: linear-gradient(
 to bottom ,
 #2c0a4c ,
 #450d80 
);
padding:1rem;
border-bottom-right-radius: 12px;
border-bottom-left-radius: 12px;
box-shadow: 0 1px 8px rgba(0,0,0,7.6);
}


@media(min-width:768px){
    header {
        padding:2rem;
    }
    img{
        width:4.5rem;
    }
    h1{
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}
}