 <app-header />
<main>
    <ul id="users"> 
      @for (user of users ; track user.id){
       <li> 
           <app-user [user]="user" 
           [selected]="user.id === selectedUserId" 
           (select)="onSelectedUser($event)"/>
       </li>
   } 
     <!-- <li> 
       <app-user [user]="users[0]"  (select)="onSelectedUser($event)"/>
    </li>
      <li> 
         <app-user  [user]="users[1]" (select)="onSelectedUser($event)"/>
      </li>
        <li>
         <app-user  [user]="users[2]"  (select)="onSelectedUser($event)"/>
            </li>
          <li> 
        <app-user [user]="users[3]" (select)="onSelectedUser($event)"/>
        </li>
            <li> 
          <app-user 
                [user]="users[4]" (select)="onSelectedUser($event)"/>
            </li>
              <li>
          <app-user  [user]="users[5]"(select)="onSelectedUser($event)"/>
                </li>  -->
     </ul>
 
    @if(selectedUser){   
      <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name"/>
    } @else{
     <p id="fallback">Select a user to see their their tasks.</p>
    }
  
</main>
